<!DOCTYPE html>
<html>
<head>
  <title>Sea Otter Error</title>

  <%= csrf_meta_tags %>

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <style>
    body {
      margin: 0;
    }
  </style>
</head>

<body>
<%= yield %>
</body>
</html>
